header{
	padding: 3%;
	background:  red;
}
section{
	display: flex;
}
.section1{
	background: grey;
	width: 20%;
}
.section2{
	background: blue;
	width: 60%;
}
.section3{
	background:grey;
	width: 20%

}
footer{
	padding: 2%;
	background: green;

}
@media screen and (max-width: 700px){
	section{
		flex-direction: column;
	}
	.section1,.section3{
		width: 100%
	}
	.section2{
		width: 96%; padding: 2%;
	}

}